.RegisterBoxBold {
    height: 50px;
    width: 1000px;
    box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.25), 
                inset 0px 2px 1px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;

    font-weight: bold;
}

.RegisterBox {
    height: 50px;
    width: 1000px;
    box-shadow: inset 0px -1.25px 1px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
}

.RtitleOp {
    width: 300px;
    text-align: center;
}

.RtimeOp {
    width: 300px;
    text-align: center;
}

.RtypeOp {
    width: 200px;
    text-align: center;
}

.RcurNumOp {
    width: 200px;
    text-align: center;
}

.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}