.logoImage {
    height: 60px;
}

.headerBox {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.flexGrow {
    flex-grow: 1;
}

.headerFont {
    font-size: 20px;
    font-family: 'Inria Serif', serif;
}

.headerMargin {
    margin: 50px;
}